In [ ]:
from sec_api import QueryApi, ExtractorApi
import json
import requests
import pandas as pd
from IPython.display import display, HTML

queryAPI = QueryApi(api_key='041c38e656c459b1b336a7bea7d83c057482f669d2e663a1b6fa8864b2071550')
extractorApi = ExtractorApi(api_key='041c38e656c459b1b336a7bea7d83c057482f669d2e663a1b6fa8864b2071550')

In [ ]:
#formType:(“10-K”, “10-KT”, “10KSB”, “10KT405”, “10KSB40”, “10-K405”)
class SEC_QUERY:

    def __init__(self, form_type, ticker, size):
        self.form_type = form_type
        self.ticker = ticker
        self.size = size
        self.query = {
            "query": { 
                "query_string" : {
                    "query": f"formType:\"{self.form_type}\" AND ticker:{self.ticker}",
                }
            },
            "from": "0",
            "size": size,
            "sort": [{"filedAt": {"order": "desc"}}]
        }
    
    def get_response(self, index:int):
        response = queryAPI.get_filings(self.query)
        return json.dumps(response["filings"][index], indent=2)
    

    def extract(self, index:int):
        query_str = self.get_response(index)
        q_dict = json.loads(query_str)
        filing_url = q_dict['linkToHtml']

        xbrl_converter_api_endpoint = "https://api.sec-api.io/xbrl-to-json"
        api_key = '041c38e656c459b1b336a7bea7d83c057482f669d2e663a1b6fa8864b2071550'

        final_url = xbrl_converter_api_endpoint + "?htm-url=" + filing_url + "&token=" + api_key
        response = requests.get(final_url)

        final_json = json.loads(response.text)
        return final_json, filing_url

In [ ]:
query1 = SEC_QUERY("10-K", "TSLA", "10")
#print(query1.get_response(0))
init_query, f_url = query1.extract(0)

# 10-K supported items [1, 1A, 1B, 2, 3, 4, 5, 6, 7, 7A, 8, 9, 9A, 9B, 10, 11, 12, 13, 14, 15]
section_text = extractorApi.get_section(f_url, "8", "text").split(' ')
section_html = extractorApi.get_section(f_url, "8", 'html')

In [ ]:
display(HTML(section_html[0:150000]))

In [31]:
tables = pd.read_html(section_html)

In [32]:
tables

[                                                   0  \
 0                                                NaN
 1                                                NaN
 2  Report of Independent Registered Public Accoun...
 3                        Consolidated Balance Sheets
 4              Consolidated Statements of Operations
 5    Consolidated Statements of Comprehensive Income
 6  Consolidated Statements of Redeemable Noncontr...
 7              Consolidated Statements of Cash Flows
 8         Notes to Consolidated Financial Statements

                                                    1  \
 0                                                NaN
 1                                                NaN
 2  Report of Independent Registered Public Accoun...
 3                        Consolidated Balance Sheets
 4              Consolidated Statements of Operations
 5    Consolidated Statements of Comprehensive Income
 6  Consolidated Statements of Redeemable Noncontr...
 7              Consolidated Statements of Cash Flows
 8         Notes to Consolidated Financial Statements

                                                    2     3     4     5
 0                                                NaN   NaN   NaN   NaN
 1                                                NaN  Page  Page  Page
 2  Report of Independent Registered Public Accoun...    47    47    47
 3                        Consolidated Balance Sheets    49    49    49
 4              Consolidated Statements of Operations    50    50    50
 5    Consolidated Statements of Comprehensive Income    51    51    51
 6  Consolidated Statements of Redeemable Noncontr...    52    52    52
 7              Consolidated Statements of Cash Flows    53    53    53
 8         Notes to Consolidated Financial Statements    54    54    54  ,
                                                    0   \
 0                                                 NaN
 1                                                 NaN
 2                                              Assets
 3                                      Current assets
 4                           Cash and cash equivalents
 5                              Short-term investments
 6                            Accounts receivable, net
 7                                           Inventory
 8           Prepaid expenses and other current assets
 9                                Total current assets
 10                      Operating lease vehicles, net
 11                          Solar energy systems, net
 12                 Property, plant and equipment, net
 13                Operating lease right-of-use assets
 14                                Digital assets, net
 15                             Intangible assets, net
 16                                           Goodwill
 17                                Deferred tax assets
 18                           Other non-current assets
 19                                       Total assets
 20                                        Liabilities
 21                                Current liabilities
 22                                   Accounts payable
 23                      Accrued liabilities and other
 24                                   Deferred revenue
 25         Current portion of debt and finance leases
 26                          Total current liabilities
 27    Debt and finance leases, net of current portion
 28           Deferred revenue, net of current portion
 29                        Other long-term liabilities
 30                                  Total liabilities
 31            Commitments and contingencies (Note 15)
 32  Redeemable noncontrolling interests in subsidi...
 33                                             Equity
 34                               Stockholders’ equity
 35  Preferred stock; $0.001 par value; 100 shares ...
 36  Common stock; $0.001 par value; 6,000 shares a...
 37                         Additional paid-in capital
 38               Accumulated other comprehensive loss
 39                                  Retained earnings
 40                         Total stockholders’ equity
 41           Noncontrolling interests in subsidiaries
 42                       Total liabilities and equity

                                                    1   \
 0                                                 NaN
 1                                                 NaN
 2                                              Assets
 3                                      Current assets
 4                           Cash and cash equivalents
 5                              Short-term investments
 6                            Accounts receivable, net
 7                                           Inventory
 8           Prepaid expenses and other current assets
 9                                Total current assets
 10                      Operating lease vehicles, net
 11                          Solar energy systems, net
 12                 Property, plant and equipment, net
 13                Operating lease right-of-use assets
 14                                Digital assets, net
 15                             Intangible assets, net
 16                                           Goodwill
 17                                Deferred tax assets
 18                           Other non-current assets
 19                                       Total assets
 20                                        Liabilities
 21                                Current liabilities
 22                                   Accounts payable
 23                      Accrued liabilities and other
 24                                   Deferred revenue
 25         Current portion of debt and finance leases
 26                          Total current liabilities
 27    Debt and finance leases, net of current portion
 28           Deferred revenue, net of current portion
 29                        Other long-term liabilities
 30                                  Total liabilities
 31            Commitments and contingencies (Note 15)
 32  Redeemable noncontrolling interests in subsidi...
 33                                             Equity
 34                               Stockholders’ equity
 35  Preferred stock; $0.001 par value; 100 shares ...
 36  Common stock; $0.001 par value; 6,000 shares a...
 37                         Additional paid-in capital
 38               Accumulated other comprehensive loss
 39                                  Retained earnings
 40                         Total stockholders’ equity
 41           Noncontrolling interests in subsidiaries
 42                       Total liabilities and equity

                                                    2                  3   \
 0                                                 NaN                NaN
 1                                                 NaN  December 31, 2023
 2                                              Assets                NaN
 3                                      Current assets                NaN
 4                           Cash and cash equivalents                  $
 5                              Short-term investments              12696
 6                            Accounts receivable, net               3508
 7                                           Inventory              13626
 8           Prepaid expenses and other current assets               3388
 9                                Total current assets              49616
 10                      Operating lease vehicles, net               5989
 11                          Solar energy systems, net               5229
 12                 Property, plant and equipment, net              29725
 13                Operating lease right-of-use assets               4180
 14                                Digital assets, net                184
 15                             Intangible assets, net                178
 16                                           Goodwill                253
 17                                Deferred tax assets               6733
 18                           Other non-current assets               4531
 19                                       Total assets                  $
 20                                        Liabilities                NaN
 21                                Current liabilities                NaN
 22                                   Accounts payable                  $
 23                      Accrued liabilities and other               9080
 24                                   Deferred revenue               2864
 25         Current portion of debt and finance leases               2373
 26                          Total current liabilities              28748
 27    Debt and finance leases, net of current portion               2857
 28           Deferred revenue, net of current portion               3251
 29                        Other long-term liabilities               8153
 30                                  Total liabilities              43009
 31            Commitments and contingencies (Note 15)                NaN
 32  Redeemable noncontrolling interests in subsidi...                242
 33                                             Equity                NaN
 34                               Stockholders’ equity                NaN
 35  Preferred stock; $0.001 par value; 100 shares ...                  —
 36  Common stock; $0.001 par value; 6,000 shares a...                  3
 37                         Additional paid-in capital              34892
 38               Accumulated other comprehensive loss              (143)
 39                                  Retained earnings              27882
 40                         Total stockholders’ equity              62634
 41           Noncontrolling interests in subsidiaries                733
 42                       Total liabilities and equity                  $

                    4                  5   6   7   8                  9   \
 0                 NaN                NaN NaN NaN NaN                NaN
 1   December 31, 2023  December 31, 2023 NaN NaN NaN  December 31, 2022
 2                 NaN                NaN NaN NaN NaN                NaN
 3                 NaN                NaN NaN NaN NaN                NaN
 4               16398                NaN NaN NaN NaN                  $
 5               12696                NaN NaN NaN NaN               5932
 6                3508                NaN NaN NaN NaN               2952
 7               13626                NaN NaN NaN NaN              12839
 8                3388                NaN NaN NaN NaN               2941
 9               49616                NaN NaN NaN NaN              40917
 10               5989                NaN NaN NaN NaN               5035
 11               5229                NaN NaN NaN NaN               5489
 12              29725                NaN NaN NaN NaN              23548
 13               4180                NaN NaN NaN NaN               2563
 14                184                NaN NaN NaN NaN                184
 15                178                NaN NaN NaN NaN                215
 16                253                NaN NaN NaN NaN                194
 17               6733                NaN NaN NaN NaN                328
 18               4531                NaN NaN NaN NaN               3865
 19             106618                NaN NaN NaN NaN                  $
 20                NaN                NaN NaN NaN NaN                NaN
 21                NaN                NaN NaN NaN NaN                NaN
 22              14431                NaN NaN NaN NaN                  $
 23               9080                NaN NaN NaN NaN               8205
 24               2864                NaN NaN NaN NaN               1747
 25               2373                NaN NaN NaN NaN               1502
 26              28748                NaN NaN NaN NaN              26709
 27               2857                NaN NaN NaN NaN               1597
 28               3251                NaN NaN NaN NaN               2804
 29               8153                NaN NaN NaN NaN               5330
 30              43009                NaN NaN NaN NaN              36440
 31                NaN                NaN NaN NaN NaN                NaN
 32                242                NaN NaN NaN NaN                409
 33                NaN                NaN NaN NaN NaN                NaN
 34                NaN                NaN NaN NaN NaN                NaN
 35                  —                NaN NaN NaN NaN                  —
 36                  3                NaN NaN NaN NaN                  3
 37              34892                NaN NaN NaN NaN              32177
 38              (143)                NaN NaN NaN NaN              (361)
 39              27882                NaN NaN NaN NaN              12885
 40              62634                NaN NaN NaN NaN              44704
 41                733                NaN NaN NaN NaN                785
 42             106618                NaN NaN NaN NaN                  $

                    10                 11
 0                 NaN                NaN
 1   December 31, 2022  December 31, 2022
 2                 NaN                NaN
 3                 NaN                NaN
 4               16253                NaN
 5                5932                NaN
 6                2952                NaN
 7               12839                NaN
 8                2941                NaN
 9               40917                NaN
 10               5035                NaN
 11               5489                NaN
 12              23548                NaN
 13               2563                NaN
 14                184                NaN
 15                215                NaN
 16                194                NaN
 17                328                NaN
 18               3865                NaN
 19              82338                NaN
 20                NaN                NaN
 21                NaN                NaN
 22              15255                NaN
 23               8205                NaN
 24               1747                NaN
 25               1502                NaN
 26              26709                NaN
 27               1597                NaN
 28               2804                NaN
 29               5330                NaN
 30              36440                NaN
 31                NaN                NaN
 32                409                NaN
 33                NaN                NaN
 34                NaN                NaN
 35                  —                NaN
 36                  3                NaN
 37              32177                NaN
 38              (361)                NaN
 39              12885                NaN
 40              44704                NaN
 41                785                NaN
 42              82338                NaN  ,
                                                    0   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Revenues
 4                                    Automotive sales
 5                       Automotive regulatory credits
 6                                  Automotive leasing
 7                           Total automotive revenues
 8                       Energy generation and storage
 9                                  Services and other
 10                                     Total revenues
 11                                   Cost of revenues
 12                                   Automotive sales
 13                                 Automotive leasing
 14                  Total automotive cost of revenues
 15                      Energy generation and storage
 16                                 Services and other
 17                             Total cost of revenues
 18                                       Gross profit
 19                                 Operating expenses
 20                           Research and development
 21                Selling, general and administrative
 22                            Restructuring and other
 23                           Total operating expenses
 24                             Income from operations
 25                                    Interest income
 26                                   Interest expense
 27                        Other income (expense), net
 28                         Income before income taxes
 29          (Benefit from) provision for income taxes
 30                                         Net income
 31  Net (loss) income attributable to noncontrolli...
 32     Net income attributable to common stockholders
 33                                                NaN
 34  Net income per share of common stock attributa...
 35                                              Basic
 36                                            Diluted
 37  Weighted average shares used in computing net ...
 38                                              Basic
 39                                            Diluted

                                                    1   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Revenues
 4                                    Automotive sales
 5                       Automotive regulatory credits
 6                                  Automotive leasing
 7                           Total automotive revenues
 8                       Energy generation and storage
 9                                  Services and other
 10                                     Total revenues
 11                                   Cost of revenues
 12                                   Automotive sales
 13                                 Automotive leasing
 14                  Total automotive cost of revenues
 15                      Energy generation and storage
 16                                 Services and other
 17                             Total cost of revenues
 18                                       Gross profit
 19                                 Operating expenses
 20                           Research and development
 21                Selling, general and administrative
 22                            Restructuring and other
 23                           Total operating expenses
 24                             Income from operations
 25                                    Interest income
 26                                   Interest expense
 27                        Other income (expense), net
 28                         Income before income taxes
 29          (Benefit from) provision for income taxes
 30                                         Net income
 31  Net (loss) income attributable to noncontrolli...
 32     Net income attributable to common stockholders
 33                                                NaN
 34  Net income per share of common stock attributa...
 35                                              Basic
 36                                            Diluted
 37  Weighted average shares used in computing net ...
 38                                              Basic
 39                                            Diluted

                                                    2   \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                            Revenues
 4                                    Automotive sales
 5                       Automotive regulatory credits
 6                                  Automotive leasing